<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title
                style="color: darkblue; display: flex; align-items: center; gap: 1rem;">
                Add Purchase</mat-card-title>
        </mat-card-header>
        
        <mat-card-content class="content">
            <app-autocomplete-articles #articleAuto (selected)="articleSelected($event)"></app-autocomplete-articles>
            <div class="">
                @for (article of articles | keyvalue ; track article.key) {
                    <app-registy #registy [article]="article.value.article" whichPrice="cost" (values)="registryChange($event, article.key)" [canDeleteMyself]="true" (deletedMyself)="deleteArticle(article.key)"/>
                }
            </div>
        </mat-card-content>
        <mat-form-field class="input-dis" style="margin: 1rem;">
            <mat-label>Purchase Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="purchase.created_at">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
        <div class="totals">
            <div>Subtotal:</div>
            <div>{{purchase.subtotal | currency}}</div>
        </div>
        <div class="totals">
            <div>Discount:</div>
            <div>{{purchase.discount | currency}}</div>
        </div>
        @if(purchase.tax_1){
        <div class="totals">
            <div>Tax 1:</div>
            <div>{{purchase.tax_1 | currency}}</div>
        </div>
        }
        @if(purchase.tax_2){
        <div class="totals">
            <div>Tax 2:</div>
            <div>{{purchase.tax_2 | currency}}</div>
        </div>
        }
        @if(purchase.tax_3){
        <div class="totals">
            <div>Tax 3:</div>
            <div>{{purchase.tax_3 | currency}}</div>
        </div>
        }   
        <div class="totals">
            <div>Total:</div>
            <div>{{purchase.total | currency}}</div>
        </div>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" class="button block" (click)="onSubmit()"
                [disabled]="loading" style="margin: 1rem;">
                <mat-icon>send</mat-icon> {{ loading ? 'Loading' : 'Send' }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>
