<mat-toolbar style="overflow: hidden; min-width: 300px;">
  <span style="color: darkblue; display: flex; align-items: center; gap: 1rem;" routerLink="/">
    <img src="../favicon.png" alt="anywher pos logo" class="logo">
    <span>Anywhere POS</span>
  </span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/pos"><mat-icon>point_of_sale</mat-icon> {{language.byId('menu.sell')}}</button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label=" menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="inventory"><mat-icon>inventory</mat-icon> {{language.byId('menu.inventory')}}</button>
    <button mat-menu-item [matMenuTriggerFor]="catalogs"><mat-icon>menu_book</mat-icon> {{language.byId('menu.catalogs')}}</button>
    <button mat-menu-item [matMenuTriggerFor]="settings"><mat-icon>settings</mat-icon> {{language.byId('menu.settings')}}</button>

    @if(session){
    <button mat-menu-item (click)="signOut()"><mat-icon>logout</mat-icon> {{language.byId('menu.signout')}}</button>
    }@else{
    <a routerLink="/auth" routerLinkActive="active" mat-menu-item><mat-icon>login</mat-icon> {{language.byId('menu.signin')}}</a>
    }
  </mat-menu>
  <mat-menu #inventory="matMenu">
    <a mat-menu-item routerLink="/purchase" routerLinkActive="active"><mat-icon>add_box</mat-icon> {{language.byId('menu.purchase')}}</a>
    <a mat-menu-item routerLink="/entry" routerLinkActive="active"><mat-icon>add_box</mat-icon> {{language.byId('menu.entry')}}</a>
    <a mat-menu-item routerLink="/output" routerLinkActive="active"><mat-icon>sell</mat-icon> {{language.byId('menu.output')}}</a>
    <a mat-menu-item routerLink="/pos"><mat-icon>point_of_sale</mat-icon> {{language.byId('menu.sell')}}</a>
  </mat-menu>
  <mat-menu #catalogs="matMenu">
    <a mat-menu-item routerLink="/articles" routerLinkActive="active"><mat-icon>assignment</mat-icon>{{language.byId('menu.articles')}}</a>
    <a mat-menu-item routerLink="/clients" routerLinkActive="active"><mat-icon>loyalty</mat-icon> {{language.byId('menu.clients')}}</a>
    <a mat-menu-item routerLink="/suppliers" routerLinkActive="active"><mat-icon>contacts</mat-icon> {{language.byId('menu.suppliers')}}</a>
  </mat-menu>
  <mat-menu #settings="matMenu">
    <a mat-menu-item routerLink="/todo" routerLinkActive="active"><mat-icon>assignment</mat-icon>{{language.byId('menu.todo')}}</a>
    <a mat-menu-item routerLink="/configuration" routerLinkActive="active"><mat-icon>build</mat-icon> {{language.byId('menu.settings')}}</a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>