<mat-toolbar style="overflow: hidden; min-width: 300px;">
  <span style="color: darkblue; display: flex; align-items: center; gap: 1rem;" routerLink="/">
    <img src="../favicon.png" alt="anywher pos logo" class="logo">
    <span>Anywhere POS</span>
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label=" menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/pos"><mat-icon>point_of_sale</mat-icon> Sell</a>
    <button mat-menu-item [matMenuTriggerFor]="inventory"><mat-icon>inventory</mat-icon> Inventory</button>
    <button mat-menu-item [matMenuTriggerFor]="catalogs"><mat-icon>menu_book</mat-icon> Catalogs</button>

    @if(session){
    <button mat-menu-item (click)="signOut()"><mat-icon>logout</mat-icon> Sign Out</button>
    }@else{
    <a routerLink="/auth" routerLinkActive="active" mat-menu-item><mat-icon>login</mat-icon> Sign
      In</a>
    }
  </mat-menu>
  <mat-menu #inventory="matMenu">
    <a mat-menu-item routerLink="/purchase" routerLinkActive="active"><mat-icon>add_box</mat-icon> Purchase</a>
    <a mat-menu-item routerLink="/entry" routerLinkActive="active"><mat-icon>add_box</mat-icon> Entry</a>
    <a mat-menu-item routerLink="/outputs" routerLinkActive="active"><mat-icon>sell</mat-icon> Output</a>
  </mat-menu>
  <mat-menu #catalogs="matMenu">
    <a mat-menu-item routerLink="/articles" routerLinkActive="active"><mat-icon>assignment</mat-icon> Articles</a>
    <a mat-menu-item routerLink="/clients" routerLinkActive="active"><mat-icon>loyalty</mat-icon> Clients</a>
    <a mat-menu-item routerLink="/suppliers" routerLinkActive="active"><mat-icon>contacts</mat-icon> Suppliers</a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>