<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title
                style="color: darkblue; display: flex; align-items: center; gap: 1rem;"><mat-icon>add_box</mat-icon>
                Add entry to inventory</mat-card-title>
        </mat-card-header>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-widget">

            <mat-card-content class="content">
                <app-autocomplete-articles (selected)="articleSelected($event)"></app-autocomplete-articles>
                <div class="bet-parent">


                    - purchase or adjustment
                    - if purchase fill purchase data and add entries option
                    - for entry: autocomplete article
                </div>

            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button color="primary" type="submit" class="button block" [disabled]="loading"
                    style="margin: 1rem;">
                    <mat-icon>send</mat-icon> {{ loading ? 'Loading' : 'Send' }}
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>