/* You can add global styles to this file, and also import other style files */
:root {
    //color-scheme: light dark;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    min-width: 300px;
    max-width: 1300px;
    width: 97vw;
    min-height: 50px;
    overflow: auto;
}

.container {
    display: grid;
    place-content: center;
    height: calc(100vh - 64px);
}

.bet-child {
    flex-grow: 1;
}

.bet-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .bet-parent {
        flex-direction: column;
    }
}