.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.w-1 {
    width: 15%;

    min-width: 60px;
}

.w-3 {
    width: 50%;
    margin-right: 1%;
}